{% extends 'store/master.html' %}
{% load static %}
    {% block content %}
    <style>
      @keyframes moveBackground {
        0% {
          background-position: center center;
        }
        100% {
          background-position: center top;
        }
      }
    
      #billboard {
        background: url('{% static 'images/mountguard-hero-1.jpg' %}') no-repeat center center/cover;
        padding: 100px 0; /* Adjust padding as needed */
        animation: moveBackground 30s linear infinite;
      }
    
      #billboard .banner-content h3 {
        color: #fff; /* Adjust text color for better contrast with the background */
      }
    
      #billboard .btn {
        margin-top: 20px;
      }
    
      #billboard .image-holder img {
        max-width: 100%;
        height: auto;
        display: block;
      }
    </style>
    
    <section id="billboard" class="position-relative overflow-hidden bg-light-blue"  data-aos="fade-up">
      <div class="container">
          <div class="row d-flex align-items-center">
              <div class="col-md-6 col-lg-6">
                  <div class="banner-content" data-aos="fade-up">
                    <br><br><br><br><br>
                        <h1 class="text-white" style="font-weight: 200;font-size: 60px;"><b>Naturally protected for ultimate comfort</b></h1>
                        <p class="text-white" style="font-size: 20px;">Fast and effective insect defence with our all-natural MountGuard range 
                        that is kind to your horse and the environment.</p>
                        <a href="{% url 'product_list' %}" class="btn btn-medium 
                        text-uppercase btn-rounded text-white" 
                        style="background-color: #79b17d;">View The Range</a>
                  </div>
              </div>
              <div class="col-md-6 col-lg-6">
                  <div class="image-holder">
                    
                  </div>
              </div>
          </div>
      </div>
  </section>
 
 <section id="company-services" class="padding-large" style="background-color: #ffffff;" data-aos="fade-up">
    <div class="container">
      <div class="row">
        <div class="col-md-2 col-lg-2"></div>
        <div class="col-lg-8 col-md-8">
          <h1 class="text-center">The battle against bugs</h1>
          <p class="text-center"> Insects can turn the joy of horse ownership into a constant battle against irritation and health risks. Traditional repellents often contain harsh chemicals, adding to your worries. MountGuard's revolutionary micellar technology is an effective, all-natural solution that gives your horse instant comfort. It's safe for your horse and the environment.
          </p>
          </div>
          <div class="col-md-2 col-lg-2"></div>
          </div>
          </div>
          </section>

          <section id="mobile-products" class="product-store position-relative padding-large 
          no-padding-top" style="background-color: #ffffff;" data-aos="fade-up">
            <div class="container">
              <div class="row">
                <div class="display-header d-flex justify-content-between align-items-center pb-3">
                  <h2 class="display-7 text-dark" style="left: 40px;">Equine Protection</h2>
                </div>
                <div class="row">
                  {% for product in products %}
                  <div class="col-md-6 col-lg-6 mb-4">
                    <div class="image-holder text-center position-relative">
                      <a href="{% url 'product_list' %}" class="d-block">
                        <img src="{{ product.image.url }}" alt="{{ product.title }}" class="rounded img-fluid">
                      </a>
                      <br>
                      <div class="card-detail text-center pt-3">
                        <p class="card-title text-dark">
                          <a href="{% url 'product_list' %}">{{ product.name }}</a>
                        </p>
                        <span class="item-price text-black product-price" data-base-price="{{ product.price }}">Price: ${{ product.price }}</span>
                      </div>
                    </div>
                  </div>
                  {% endfor %}
                </div>
              </div>
            </div>
          </section>
          
        <style>
  .image-holder img {
    transition: transform 0.3s ease;
    width: 90%; /* Ensure the images take up the full width of their container */
  }

  .image-holder:hover img {
    transform: scale(1.1);
  }
</style>

        
            <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
          </head>
          <body>
          
            <section id="company-services" class="padding-large" style="background-color: #f0f0f0;" data-aos="fade-up">
              <div class="container">
                <h1>MountGuard in action</h1>
                <br>
            <div class="row">
              <div class="col-md-6 d-flex flex-column align-items-center ">
                <video id="video1" class="w-100 rounded" loop playsinline>
                  <source src="{% static 'videos/Natural Insect Control Options.mp4' %}" type="video/mp4">
                  Your browser does not support the video tag.
                </video>
                <button id="playButton1" class="btn btn-success btn-lg mt-3">Play Video 1</button>
              </div>
              <div class="col-md-6 d-flex flex-column align-items-center ">
                <video id="video2" class="w-100 rounded" loop playsinline>
                  <source src="{% static 'videos/The Benefits of Using an Automatic Waterer for Horses.mp4' %}" type="video/mp4">
                  Your browser does not support the video tag.
                </video>
                <button id="playButton2" class="btn btn-success btn-lg mt-3">Play Video 2</button>
              </div>
            </div>
            </div>
          </section>
          
          <!-- Bootstrap JS and dependencies -->
          <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
          <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
          <script>
            document.getElementById('playButton1').addEventListener('click', function() {
              const video1 = document.getElementById('video1');
              const video2 = document.getElementById('video2');
              video2.pause(); // Pause the other video
              video1.muted = false; // Unmute this video
              video1.play(); // Play this video
            });
          
            document.getElementById('playButton2').addEventListener('click', function() {
              const video1 = document.getElementById('video1');
              const video2 = document.getElementById('video2');
              video1.pause(); // Pause the other video
              video2.muted = false; // Unmute this video
              video2.play(); // Play this video
            });
          </script>
         
          
 
    <section id="company-services" class="padding-large fade-out"
     style="background-color: #ffffff;" data-aos="fade-up">
      <div class="container">
          <h1 class="text-center">People are saying...</h1>
          <br>
          <div class="row">
              <div class="col-lg-6 col-md-6 mb-4">
                  <div class="card" style="background-color: #f8f9fa;">
                      <div class="card-body">
                          <p>
                              As a horse owner, warm weather always meant a battle with flies irritating my horse. Since discovering MountGuard, that's changed. The immediate protection it offers is astounding, keeping my horse calm and comfortable. MountGuard is now our go-to solution.
                          </p>
                          <p class="text-dark">Eleanor Fitzroy</p>
                      </div>
                  </div>
              </div>
              <div class="col-lg-6 col-md-6 mb-4">
                  <div class="card" style="background-color: #f8f9fa;">
                      <div class="card-body">
                          <p>
                              I've been using MountGuard cream on my horse's open wounds, and it's been a lifesaver. Not only does it protect the wound from flies and bugs, but it also seems to soothe and heal. My horse is more comfortable, and recovery is quicker. A must-have for any horse owner!
                          </p>
                          <p class="text-dark">Lucas Montgomery</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
  

  <style>
    .card {
        height: 100%;
    }
    .card-body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
</style>


<section id="company-services" class="padding-large" style="background-color: #ffffff;" data-aos="fade-up">
  <div class="container">
      <h1 class="text-center">Natural Equine Protection</h1>
      <br>
      <div class="row">
          <div class="col-lg-12 col-md-12 mb-4">
              <p class="text-center">All-natural protection that is kind to your horse and the environment.</p>
          </div>
      </div>
      <div class="row">
          <div class="col-lg-12 col-md-12 d-flex justify-content-center">
              <a href="{% url 'product_list' %}">
                  <button class="btn btn-small text-uppercase btn-rounded btn-lg text-white" style="background-color: #79b17d;">VIEW THE RANGE</button>
              </a>
          </div>
      </div>
  </div>
</section>
    <section id="subscribe" class="container-grid 
    padding-large position-relative overflow-hidden" data-aos="fade-up">
      <div class="container">
        <div class="row">
          <div class="subscribe-content rounded bg-secondary 
          d-flex flex-wrap justify-content-center 
          align-items-center padding-medium" >
            <div class="col-md-6 col-sm-12">
              <div class="display-header pe-3">
                <h2 class="display-7 text-uppercase text-light">Subscribe Us Now</h2>
                <p>Get latest news, updates and deals directly mailed to your inbox.</p>
              </div>
            </div>
            {% if success_message %}
            <div class="alert alert-white" role="alert">
                {{ success_message }}
            </div>
        {% endif %}

        {% if error_message %}
            <div class="alert alert-danger" role="alert">
                {{ error_message }}
            </div>
        {% endif %}
            <div class="col-md-5 col-sm-12">
              <form method="post" action="{% url 'subscribe' %}"">
                {% csrf_token %}
                <div class="input-group flex-wrap">
                  <input class="form-control rounded-pill" type="email" name="EMAIL" placeholder="Your email address here" required="">
                  <button class="btn btn-primary text-uppercase rounded-pill" type="submit" name="subscribe">Subscribe</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>

   
    {% endblock %}

